@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
    /* 1. Define the custom font names first */
    --font-satoshi: "Satoshi-Variable", ui-sans-serif, system-ui, sans-serif;

    /* 2. Tell Tailwind this is the DEFAULT for everything */
    --default-font-family: var(--font-satoshi);

    /* 3. Explicitly link font-sans to your variable */
    --font-sans: var(--font-satoshi);

    --color-off-black: oklch(0.1913 0 0);

    --color-off-white: oklch(0.9586 0.0017 67.8);

    --color-background: var(--color-off-black);
}

@layer base {

    :root.dark {
        --color-background: var(--color-off-black);
    }

    /* 3. Handle Light Mode override if system is dark */
    :root.light {
        --color-background: var(--color-off-white);
    }

    /* Apply the variable to the body */
    body {
        background-color: var(--color-background);
        transition: background-color 0.3s ease;
    }
}